body{
  color: black;
}
.img-escudo{
  width: 100px;
  height: 100px;
}
.img-unica{
  width: 150px;
  height: 100px;
}
.logos{
  font-size: 20px;
}

.col-center{
 float: none;
}

.wrap {
  position: relative;
}

.wrap .nav-bar .navbar-brand {
  margin-top: 15px;
}
.wrap .nav-bar .navbar-form {
  margin-top: 25px;
}
.wrap .nav-bar .nav {
  float: right !important;

}
.wrap .nav-bar .nav .dropdown span.fa,
.wrap .nav-bar .nav .dropdown span.caret {
  margin-right: 10px;
}
.wrap .nav-bar .nav .dropdown-menu {
  background: #222;
  left: auto;
  width: 200px;
  right: 0;
}
.wrap .nav-bar .nav .dropdown-menu > li > a {
  color: #2a2c2b;
  padding: 8px;
}
.wrap .nav-bar .nav .dropdown-menu > li > a:hover {
  background: #3355ff;
}
.wrap .side-menu-link {
  left: 21em;
}
.wrap .burger {
  position: relative;
  width: 35px;
  height: 30px;
  left: 10px;
  top: 5px;
  z-index: 500000;
}
.wrap .burger .burger_inside {
  position: absolute;
  background-color: #222;
  width: 30px;
  height: 5px;
  left: 2.5px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.wrap .burger #bgrOne {
  top: 0;
}
.wrap .burger #bgrTwo {
  top: 10px;
}
.wrap .burger #bgrThree {
  top: 20px;
}
.wrap #side-menu { /*#043858*/
  position: absolute;
  z-index: -1;
  background: #d9cb9e;
  width: 22em;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 10px;
  float: left;
  display: block;
  left: 0;
  height: 1010px;
}
#top-menu{
  background: #00305a;
}

.wrap .content {
  position: absolute;
  right: 0;
  min-width: 400px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.wrap .content .top-bar {
  height: 40px;
  background: #fff;
}
.wrap .content .content-inner {
  padding: 0;
  margin: 0;
  height: 100%;
  background: #fff;
  padding-left: 20px;
  padding-right: 10px;
  display: block;
  width: 100%;
}
.wrap ul.accordion {
  width: 100%;
  background: transparent;
}
.wrap ul.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #2a2c2b;
  font-size: 14px;
  font-weight: 700;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}


.wrap ul.accordion li:not(open) last-child .link {
  border-bottom: 0;
}
.wrap ul.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #2a2c2b;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.wrap ul.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}
.wrap ul.accordion li.open .link {
  color: #2a2c2b;
}
.wrap ul.accordion li.open i {
  color: #2a2c2b;
}
.wrap ul.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wrap ul.accordion ul.submenu {
  display: none;
  background: transparent;
  font-size: 14px;
  padding: 0;
}
.wrap ul.accordion ul.submenu li {
  list-style: none;
}
.wrap ul.accordion ul.submenu li a {
  display: block;
  text-decoration: none;
  color: #2a2c2b;
  padding: 12px;
  text-justify: auto;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.wrap ul.accordion ul.submenu li a:hover { 
  background:#374140;
  color: #bdc3c7;
}

.link:hover{ 
  background:#374140;
  color: #bdc3c7;
}

@media screen and (max-width: 768px) {
  .wrap .nav-bar .navbar-brand {
    margin-top: 0;
    padding-left: 0;
  }
  .wrap .side-menu-link {
    display: inline-block;
  }
  .wrap #side-menu #qform {
    position: absolute;
    top: 10px;
  }
  .wrap .content {
    left: 0;
  }
  .wrap.active .content {
    left: 21em;
  }
  .wrap.active .content #bgrOne {
    top: 10px;
    transform: rotate(225deg);
  }
  .wrap.active .content #bgrTwo {
    opacity: 0;
  }
  .wrap.active .content #bgrThree {
    top: 10px;
    transform: rotate(315deg);
  }

  .wrap .content .content-inner{
    height: 1000px;
  }
}
@media screen and (min-width: 769px) {
  .side-menu-link {
    display: none;
  }
  .wrap {
    position: relative;
  }
  .wrap .content {
    left: 22em;
    right: 0;
  }
}

            /* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

            /* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #2a2c2b;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

            /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

            /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

            /* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

            /* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.btn-logout {
  color:white;
}

#nav-a{
  color: white;
}

#nav-a:hover{
  color: #2a2c2b;
}

.logout{
  color: white;
}

.logout:hover{
  color: #2a2c2b;
}

.btn-primary{
  background: #00305a;
  border: #00305a;
  margin: 10px;
}